.navBar {
    background-color: #a3a3a3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navA {
    float: left;
    display: block;
    text-align: center;
    padding: 0.5em;
    color: blue;
    text-decoration: none;
}

#resume {
    color: green;
    background-color: transparent;
    border: 1px solid;
    border-radius: 4px;
    padding: 0.5em 1em;
    margin-left: 0.4em;
}

#resume:hover {
    background-color: pink;
}
.navA:hover {
    color: red;
}

#ham {
    display: none;
}

#hambar1, #hambar2, #hambar3 {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 1em;
    transition: 0.4s;
}

h1 {
    margin-top: 0;
    padding-top: 0;
}