html {
    scroll-behavior: smooth;
}
body {
    height: 100%;
    margin: 0px;
}

.navBar {
    background-color: #a3a3a3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 9;
}

.navA {
    float: left;
    display: block;
    text-align: center;
    padding: 0.5em;
    color: blue;
    text-decoration: none;
}

#resume {
    color: green;
    background-color: transparent;
    border: 1px solid;
    border-radius: 4px;
    padding: 0.5em 1em;
    margin-left: 0.4em;
}

#resume:hover {
    background-color: pink;
}
.navA:hover {
    color: red;
}

#ham {
    display: none;
}

#hambar1, #hambar2, #hambar3 {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 1em;
    transition: 0.4s;
}

#namebox {
    margin-left: auto;
    margin-right: auto; 
    margin-top: 20%;
    display:flex;
    flex-direction: column;
    width: 50%;
}

#name {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    animation: appear 2s;
}

#about {
    margin-left: auto;
    margin-right: auto; 
    margin-top: 30%;
    width: 50%;
    margin-bottom: 100%;
}

#aboutMe {
    margin-bottom: 0;
}

#mePar {
    float: left;
    width: 75%;
}

#meImg {
    float: right;
}

@keyframes appear {
    0% {
        opacity: 0;
        translate: -30px 30px;
    }
    100% {
        opacity: 1;
    }
}
